<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="iExchange.StateServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <add key="ConnectionString" value="Data Source=ws0308;initial catalog=iExchange_V3;user id=sa;password=Omni1234;Connect Timeout=60"/>
    <add key="SecurityConnectionString" value="Data Source=ws0308;initial catalog=iExchange_Security;user id=sa;password=Omni1234;Connect Timeout=60"/>
    <add key="StateServerID" value="StateServer"/>
    <add key="iExchange.StateServer.LinkedStateServer.Service" value="http://ws0308/iExchange/StateServer/Service.asmx" />
    <add key="iExchange.StateServer.QuotationServer.Service" value="http://ws0308/iExchange/QuotationServer/Service.asmx"/>
    <add key="iExchange.StateServer.TransactionServer.Service" value="http://ws0308/iExchange/TransactionServer/Service.asmx"/>

    <add key="iExchange.StateServer.QuotationCollector.Authentication" value="http://ws0308/iExchange/QuotationCollector/Authentication.asmx"/>
    <add key="iExchange.StateServer.QuotationCollector.Service2" value="http://ws0308/iExchange/QuotationCollector/Service2.asmx"/>

    <add key="PolamediaServer.Authentication" value=""/>
    <add key="FileExchangeServer.Service" value=""/>
    <add key="QuotationCollectorLoginUserId" value="System"/>
    <add key="QuotationCollectorLoginPassword" value="12345678"/>
    <add key="TradingConsoleInnerServiceUrl" value="http://ws0308/iExchange/TradingConsole/Inner/Service2.asmx"/>
    <add key="DealingConsoleInnerServiceUrl" value="http://ws0308/iExchange/DealingConsole/Inner/service2.asmx"/>
    <add key="RiskMonitorInnerServiceUrl" value="http://localhost/RiskMonitor/Inner/service2.asmx"/>
    <add key="TradingMonitorInnerServiceUrl" value="http://ws0308/iExchange/TradingMonitor/Inner/service2.asmx"/>
    <add key="TradingConsoleSLCommandCollectorUrl" value="net.tcp://localhost:9006/AuxService/CommandCollectService;net.tcp://localhost:9005/AsyncSslServer/Service/CommandCollectService;"/>

    <add key="Servcie2URLForTransactionServer" value="http://ws0308/iExchange/StateServer/Service2.asmx"/>
    <add key="Servcie2URLForQuotationServer" value="http://ws0308/iExchange/StateServer/Service2.asmx"/>

    <add key="PhysicalTerminalUrl" value="http://ws0308/iExchange/PhysicalTrade/PhysicalTrade/api/Command/Receive"/>

    <add key="iExchange.StateServer.TransactionServer.RealtimeQuotationServicePort" value="9090"/>
    <add key="UseManager" value="true"/>

    <!--<add key="EnableQuotationTrace" value="true"/>-->
    <add key="TraceLevel" value="all"/>
    <!--Error,Warning,Information,SuccessAudit, FailureAudit-->


    <add key="TransactionAdaptorServiceUrl"  value="http://ws3190:5070/SystemControllerService" />
    <add key="IsTransactionAdaptorTest" value="false"/>
    <add key="GatewayUrl" value="http://ws3190:5060/GatewayService"/>
    <add key="CommandCollectorUrl" value="net.tcp://ws0210:6111/StateServer/CommandCollectService" />
    <add key="SystemController_QuotationServiceUrl" value="net.tcp://ws3190:5085/SystemController/QuotationService" />
    <add key="IsDisplayGetAccounts" value="False"/>
    <add key="TraderService_KickoutServiceUrl" value="http://localhost:9075/TraderService/KickoutService" />
  </appSettings>
  <system.codedom>
    <compilers>
      <!-- zero or more compiler elements -->
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" compilerOptions="/d:DEBUG;TRACE" warningLevel="1"/>
    </compilers>
  </system.codedom>
  <system.web>
    <!--Will not be cycled when file changed -->
    <!--httpRuntime waitChangeNotification="2147483647" maxWaitChangeNotification="2147483647"/-->
    <healthMonitoring>
      <rules>
        <add name="Application Lifetime Events" eventName="Application Lifetime Events" provider="EventLogProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:01:00" custom=""/>
      </rules>
    </healthMonitoring>
    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP .NET files.
    -->
    <compilation defaultLanguage="c#" debug="true">
    </compilation>
    <!--  CUSTOM ERROR MESSAGES
          Set customError mode values to control the display of user-friendly 
          error messages to users instead of error details (including a stack trace):

          "On" Always display custom (friendly) messages  
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
          on the local Web server. This setting is recommended for security purposes, so 
          that you do not display application detail information to remote clients.
    -->
    <customErrors mode="RemoteOnly"/>
    <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", "Forms", 
          "Passport" and "None"
    -->
    <authentication mode="Windows"/>
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <!--  SESSION STATE SETTINGS
          By default ASP .NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="20"/>
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <xhtmlConformance mode="Legacy"/>
  </system.web>
  <applicationSettings>
    <iExchange.StateServer.Properties.Settings>
      <setting name="iExchange_StateServer_DealingConsole_Service_PlaceHolder2"
        serializeAs="String">
        <value>http://localhost/iExchange%20Team/Test/PlaceHolder/PlaceHolder2.asmx</value>
      </setting>
      <setting name="iExchange_StateServer_FileExchangeServer_Service_PlaceHolder3"
        serializeAs="String">
        <value>http://localhost/iExchange%20Team/Test/PlaceHolder/PlaceHolder3.asmx</value>
      </setting>
      <setting name="iExchange_StateServer_PolamediaServer_Service_PlaceHolder4"
        serializeAs="String">
        <value>http://localhost/iExchange%20Team/Test/PlaceHolder/PlaceHolder4.asmx</value>
      </setting>
      <setting name="iExchange_StateServer_RiskMonitor_Service_PlaceHolder6"
        serializeAs="String">
        <value>http://localhost/iExchange%20Team/Test/PlaceHolder/PlaceHolder6.asmx</value>
      </setting>
      <setting name="iExchange_StateServer_TradingConsole_Service_PlaceHolder7"
        serializeAs="String">
        <value>http://localhost/iExchange%20Team/Test/PlaceHolder/PlaceHolder7.asmx</value>
      </setting>
      <setting name="iExchange_StateServer_TradingMonitor_Service_PlaceHolder8"
        serializeAs="String">
        <value>http://localhost/iExchange%20Team/Test/PlaceHolder/PlaceHolder8.asmx</value>
      </setting>
      <setting name="iExchange_StateServer_QuotationCollector_Service_PlaceHolder11"
        serializeAs="String">
        <value>http://localhost/iExchange%20Team/Test/PlaceHolder/PlaceHolder11.asmx</value>
      </setting>
      <setting name="iExchange_StateServer_QuotationCollector_Authentication_Service1"
        serializeAs="String">
        <value>http://localhost/iExchange%20Team/Test/PlaceHolder/PlaceHolder.asmx</value>
      </setting>
      <setting name="iExchange_StateServer_ExchangeMapping_iExchangeMappingService"
        serializeAs="String">
        <value>http://localhost/Temp%20Team/ExchangeMapping/ExchangeSwitch/iExchangeToiExchange/iExchangeMappingService.asmx</value>
      </setting>
      <setting name="iExchange_StateServer_TransactionServer_Service_Service"
        serializeAs="String">
        <value>http://ws0301/iExchangeCollection/iExchange3%20Team/iExchange3/TransactionServer/Service.asmx</value>
      </setting>
      <setting name="iExchange_StateServer_QuotationServer_Service_PlaceHolder5"
        serializeAs="String">
        <value>http://localhost/iExchange%20Team/Test/PlaceHolder/PlaceHolder5.asmx</value>
      </setting>
      <setting name="iExchange_StateServer_TransactionServer_Service_PlaceHolder9"
        serializeAs="String">
        <value>http://localhost/iExchange%20Team/Test/PlaceHolder/PlaceHolder9.asmx</value>
      </setting>
      <setting name="iExchange_StateServer_FaxEmail_FaxEmailService"
        serializeAs="String">
        <value>http://ws0308/iExchange/FaxAndEmailService/FaxEmailService.asmx</value>
      </setting>
    </iExchange.StateServer.Properties.Settings>
  </applicationSettings>

  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="protoEndpointBehavior">
          <protobuf/>
        </behavior>
      </endpointBehaviors>

      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <dataContractSerializer maxItemsInObjectGraph="6553600"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>

    <bindings>
      <netTcpBinding>
        <binding name="tcpBindingNoSecurity"  maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" openTimeout="00:05:00" sendTimeout="00:05:00" receiveTimeout="00:30:00" closeTimeout="00:00:30">
          <security mode="None"/>
        </binding>
      </netTcpBinding>

      <customBinding>
        <binding name="reliableCustomBinding"
                       openTimeout="00:00:30"
                       closeTimeout="00:00:30"
                       sendTimeout="00:05:00"
                       receiveTimeout="23:59:59" >
          <reliableSession acknowledgementInterval="00:00:0.2"
                           inactivityTimeout="00:10:00"/>
          <binaryMessageEncoding>
            <readerQuotas
              maxArrayLength="500000"
              maxBytesPerRead="65536"
              maxDepth="16384"
              maxNameTableCharCount="500000"
              maxStringContentLength="500000" />
          </binaryMessageEncoding>
          <tcpTransport portSharingEnabled="true"
                        maxBufferPoolSize="32768000"
                        maxBufferSize="524288"
                        maxReceivedMessageSize="524288">
          </tcpTransport>
        </binding>

      </customBinding>

    </bindings>

    <services>

      <service name="iExchange.StateServer.Adapter.CommandCollector">
        <endpoint address="net.tcp://localhost:6111/StateServer/CommandCollectService" binding="customBinding" contract="Protocal.ICommandCollectService" bindingConfiguration="reliableCustomBinding" behaviorConfiguration="protoEndpointBehavior">
        </endpoint>
      </service>
    </services>

    <client >
      <endpoint name="SystemController_QuotationService"  binding="netTcpBinding" behaviorConfiguration="protoEndpointBehavior"  bindingConfiguration="tcpBindingNoSecurity" contract="Protocal.IQuotationService"></endpoint>
    </client>

    <extensions>
      <behaviorExtensions>
        <add name="protobuf" type="ProtoBuf.ServiceModel.ProtoBehaviorExtension, protobuf-net, Version=2.0.0.668, Culture=neutral, PublicKeyToken=257b51d87d2e4d67"/>
      </behaviorExtensions>
    </extensions>

  </system.serviceModel>


  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ABSOLUTE} [%thread] %level %logger - %message%newlineExtra Info: %property{testProperty}%newline%exception"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG"/>
        <levelMax value="DEBUG"/>
      </filter>
    </appender>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <ApplicationName value="StateServer">
      </ApplicationName>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="mylogfile.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="200"/>
      <maximumFileSize value="5MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline%exception"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="EventLogAppender"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
  </log4net>

</configuration>
